.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  .footer a {
    margin: 0 10px;
    color: black; /* Icon color */
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #0077b5; /* Color change on hover (LinkedIn blue for example) */
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    /* Add other styles as needed */
  }
  
  /* Media query should come after the base styles */
  @media (max-width: 768px) {
    .footer {
      width: 100%;
      /* Other responsive styles for footer */
    }
  }
  