
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Stack sidebar and main content on smaller screens */
    grid-template-areas: 
      "header header"
      "sidebar main"
      "footer footer";
    height: 100vh;
  }
}

h2{
  color: #31dbfe;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* 1 fraction for the sidebar, 3 fractions for the main content */
  grid-template-rows: auto 1fr auto; /* Header, main content, and footer */
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  height: 100vh;
  border: 2px;
  box-sizing: border-box;
}

.header {
  grid-area: header;
  background-color: rgb(159, 238, 238);
}

.sidebar {
  grid-area: sidebar;
  background-color:rgb(159, 238, 238)#31dbfe;
  background-origin: 40px;
}

.main {
  grid-area: main;
  background-color: black;
}


.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: rgb(159, 238, 238);
}

.main-container {
  transition: margin-left 0.5s;
  padding: 20px; /* Add padding as needed */
}

.sidebar-minimized .main-container {
  margin-left: 0;
}